<main class="container">
  <div class="row">
    <div class="col-4 mx-auto rounded-lg pt-3 mt-3" id="div-one">
      <h2>Order Up</h2>
      <ul>
        {{#each burgersMade}}
          <li class="mx-auto">
            <p>
              {{ burger_name }}

              <button data-burgerId="{{ id }}" class="btn btn-danger eatBurger">Eat</button>
            </p>
          </li>
        {{/each}}
      </ul>
     </div>

    <div class="col-4 mx-auto pt-3 rounded-lg mt-3" id="div-two">
      <h2>Devoured</h2>
      <ul>
        {{#each burgersEaten}}
          <li>
            <p>
              {{ burger_name }}
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6 mx-auto rounded-lg mb-3" id="div-three">
      <form id="add-burger" class="mt-3 mb-3">
        <h3>Place Your Order</h3>
        <input id="text-area" type="text" class="mb-2" name="burger"></input>
        <button id="div-three-button" class="btn btn-danger mx-auto" type="submit">Add</button>
      </form>
    </div>
  </div>

</main>

<script type="text/javascript">

  $(document).on("click", ".eatBurger", function(event){ 
    event.preventDefault();
    
    var id = $(this).data("burgerid")

    $.ajax("/api/burgers/" + id, {
      type: "PUT"
    }).then(function(){
      console.log("updated id ", id);
      location.reload();
    });

  });

  $(document).on("submit", "#add-burger", function(event){ 
    event.preventDefault();
    console.log("workin");
    
    var newBurger = {
      burger_name: $("#add-burger [name=burger]").val().trim()
    };
    console.log(newBurger);
    $.ajax("/api/burgers/", {
      type: "POST",
      data: newBurger
    }).then(function(){
      console.log("added burger")
      location.reload()
    });

  });

</script>